/* Your styles should be mobile-first and responsive */
body{
  background-color: black;
}

h1{
  font-size: 75px;
  color: blue;
  text-align: center;
}

button{
color: blue;

}

h2{
  color: blue;
  font-size: 35px;
}

*{
  font-size:20px;
  color: white;
}

@media all and (min-width: 800px){
  body{
    margin: auto;
    width: 70%;
  }
  
}

@media all and (min-width: 1050px){
  body{
    margin: auto;
    width: 70%;
  }
  
}
/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/